/* BODY MAIN */

header#indexHeader {
	padding-top: 179px;
	padding-bottom: 224px;
}

header#indexHeader h1 {
	font-family: "Wondar Quason", sans-serif;
	font-size: 137px;
	line-height: 125px;
}

@media all and (max-width: 1000px) {
	header#indexHeader {
		padding-top: 140px;
		padding-bottom: 180px;
	}

	header#indexHeader h1 {
		font-size: 100px;
		line-height: 94px;
	}
}

@media all and (max-width: 600px) {
	header#indexHeader {
		padding-top: 64px;
		padding-bottom: 64px;
	}

	header#indexHeader h1 {
		font-size: 44px;
		line-height: 41px;
	}
}

/* PROJECT SECTION */

section#indexProjectsSection article {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;

	width: 100%;
	margin-bottom: 80px;
}

@media all and (max-width: 1000px) {
	section#indexProjectsSection article {
		margin-bottom: 60px;
	}
}

@media all and (max-width: 600px) {
	section#indexProjectsSection article {
		margin-bottom: 60px;

		flex-direction: column;
		align-items: flex-start;
	}
}

section.indexProjectThumbnailSection {
	position: relative;
	width: 74%;
	text-align: center;
	flex: 0 0 auto;
}

div.indexProjectThumbnailAspectDiv {
	width: 100%;
	height: 0;
	position: relative;
}

div.indexProjectThumbnailAspectDiv[role="highlight"] {
	padding-top: calc(606 / 772 * 100%);
}

div.indexProjectThumbnailAspectDiv[role="regular"] {
	padding-top: calc(330 / 772 * 100%);
}

@media all and (max-width: 600px) {
	section.indexProjectThumbnailSection {
		width: 100%;
	}
}

div.indexProjectThumbnailAspectInsideDiv {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

div.indexProjectThumbnailDeviceAspectDiv {
	position: relative;
	height: 0;
}

article.ipad div.indexProjectThumbnailDeviceAspectDiv {
	width: 73%;
	padding-top: calc(73% * 768 / 1024);
}

article.iphone div.indexProjectThumbnailDeviceAspectDiv {
	width: 32%;
	padding-top: calc( 32% * 667 / 375 );
}

article.landscapeiphone div.indexProjectThumbnailDeviceAspectDiv {
	width: 74%;
	padding-top: calc(74% * 375 / 667);
}

div.indexProjectThumbnailAspectDiv[role="regular"] div.indexProjectThumbnailDeviceAspectDiv {
	width: 62%;
	padding-top: calc(62% * 247 / 483);
}

div.indexProjectThumbnailDeviceAspectInsideDiv {
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

div.indexProjectThumbnailAspectDiv[role="regular"] div.indexProjectThumbnailDeviceAspectInsideDiv {
	overflow: hidden;
}

div.indexProjectThumbnailDeviceAspectInsideDiv > div {
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

div.indexProjectThumbnailDeviceAspectInsideDiv div.indexProjectShadowDiv {
	top: 7%;
	left: 4%;
	right: 4%;
	bottom: -3%;

	filter: blur(40.48px);
	opacity: 0.45;
}

div.indexProjectThumbnailDeviceAspectInsideDiv iframe {
	pointer-events: none;
	width: 100%;
	height: 100%;
}

div.indexProjectThumbnailDeviceAspectInsideDiv iframe {
	pointer-events: none;
	height: 100%;
}

div.indexProjectThumbnailDeviceAspectInsideDiv img {
	height: 100%;
}

section.indexProjectThumbnailSection a {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

header.indexProjectTitleHeader {
	margin-left: 20px;
}

@media all and (max-width: 600px) {
	header.indexProjectTitleHeader {
		margin-left: 0px;
		margin-top: 10px;
	}
}

header.indexProjectTitleHeader a:hover h1,
header.indexProjectTitleHeader a:hover h2 {
	text-decoration: underline;
}

header.indexProjectTitleHeader h1, 
header.indexProjectTitleHeader h2{
	font-family: 'Gilroy', sans-serif;
}

header.indexProjectTitleHeader h1{
	font-weight: bold;
	font-size: 22px;

	margin-bottom: 5px;
}
 
header.indexProjectTitleHeader h2{
	font-weight: lighter;
	font-size: 17px;
}

